<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>User information</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>利用者情報参照</h1>
    <p><%= user[0].name %></p>
    <p><%= user[0].diseaseName %></p>
    <p><%= user[0].CurrentDiseaseName %></p>
    <p><%= user[0].aimSetting %></p>
    <p><%= user[0].FamilyStructure %></p>
    <p><%= user[0].ResidentHistory %></p>
</body>

<script type="text/javascript">

</script>

</html>