<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>User information</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>利用者情報参照</h1>
    <p><%= user.name %></p>
    <p><%= user.diseaseName %></p>
    <p><%= user.CurrentDiseaseName %></p>
    <p><%= user.aimSetting %></p>
    <p><%= user.FamilyStructure %></p>
    <p><%= user.ResidentHistory %></p>
</body>

<script type="text/javascript">

</script>

</html>