<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>User information</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>利用者情報参照</h1>
    名前:<p value="<%= user[0].name %>"></p>
    疾患名:<p value="<%= user[0].diseaseName %>"></p>
    現病名:<p value="<%= user[0].CurrentDiseaseName %>"></p>
    目標設定:<p value="<%= user[0].aimSetting %>"></p>
    家族構成:<p value="<%= user[0].FamilyStructure %>"></p>
    既住歴:<p value="<%= user[0].ResidentHistory %>"></p>
</body>

<script type="text/javascript">

</script>

</html>